<ion-view title="Игры">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ya-template-layout ya-key="templateOne" ya-overrides="overrides">
            <div class="item item-input">
                <address>
                    <label class="input-label">Народу:</label><span>$[properties.persons]</span>
                    <label class="input-label">Адрес:</label><span>$[properties.address]</span>
                    <label class="input-label">На заметку:</label><span>$[properties.post]</span>
                    <button ng-click="joinEventClick(1,2)" id="joinButton">в игре</button>
                </address>
            </div>
        </ya-template-layout>
        <ya-map ya-zoom="10" class="map" ya-center="30.270,59.956" ya-controls="">
            <ya-collection>
                <ya-geo-object ng-repeat="go in geoObjects" ya-source="go"
                               ya-options="{preset: 'islands#icon',iconColor: '#0095b6', balloonContentLayout:'templateOne', balloonPanelMaxMapArea: 'Infinity'}"
                               class="geo-object"></ya-geo-object>
            </ya-collection>
        </ya-map>
    </ion-content>
</ion-view>
