/* Empty. Add your own CSS if you like */
.map {
    height: 480px;
    width: 320px;
    float: left;
    padding: 5px;
}

.event-form {
    text-align: left;
    padding: 10px;
    overflow: hidden;
}

.event-form input{
    width: 80%;
    border: 1px solid #145fd7;
    background-color: #145fd7;
    font: serif italic;
    color: #ffffff;
}
.event-form select{
    width: 80%;
    border: 1px solid #145fd7;
    background-color: #145fd7;
    font: serif simplified;
    color: #ffffff;
}
.event-form textarea{
    width: 80%;
    border: 1px solid #145fd7;
    background-color: #145fd7;
    font: serif italic;
    color: #ffffff;
}
.event-form button{
    width: 80%;
    border: 1px solid #145fd7;
    background-color: #145fd7;
    font: serif bold;
    color: #ffffff;
}